/*Initial styling*/
body {
  margin: 1.2rem 10vw;
  background-color: whitesmoke;
}

/*Header stylign*/

.header {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #2dbb6f;
}

.header img {
  height: 60px;
  width: 145px;
}

.header-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1.2rem 0;
}

.header-btn {
  margin: 0 1.2rem;
}

.header-btns :nth-child(1) {
  margin-left: 0;
}

/*Component styling*/

.info {
  display: flex;
  flex-direction: column;
}

.info div {
  margin: 0.5rem 0;
}

.info div textarea,
.info div input {
  margin-right: 0.5rem;
  height: 2rem;
  width: 12rem;
  padding-left: 0.5rem;
}

.info div textarea:focus,
.info div input:focus {
  outline: none !important;
  border: 1px solid #2dbb6f;
  box-shadow: 0 0 2px #2dbb6f;
}

.btn-div button {
  width: 12.7rem;
  padding: 0.5rem;
  border: 1px solid #2dbb6f;
  text-align: center;
}

/*Summary component*/

.summary-info div textarea {
  width: 32.5vw;
  height: 7rem;
  margin-top: 0.2rem;
}

/*Skills component*/
.skills-info div input {
  width: 20vw;
}